:root {
    --clr-dark: #0f172a;
    --clr-light: #77777c;
    --clr-accent: #e11d48;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    /* color: var(--clr-dark); */
    background-color: var(--clr-light);
  }

  p,
  h1,
  h2 {
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2 {
    font-weight: 700;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
  }

  .item {
    /* padding: 0.5em; */
    /* color: var(--clr-light); */
    border: 1px solid var(--clr-accent) ;
  }