.container {
    display: grid;
    grid-template-rows: calc(6vw + 6vh) minmax(100px, 40vh) 10vh;
    /* grid-template-columns: 100px minmax(100px, 3fr) 1fr; */
    /* grid-template-rows: repeat(3, 100px); */
    /* grid-gap: 1em 3em; */
}

.header {
    display: grid; 
}

.header_icon {
    width: 100px;
    place-items: center;
    margin: auto;
}

.header_logo,
.button_box {
    max-height: 100px;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

.header_logo {
    margin-left: 20px;
}

.button_box {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-right: 20px;
    justify-self: end;
}

/* DESKTOP */
@media only screen and (min-width: 1025px) {
    .header {
        grid-template-columns: auto 100px auto;  
    }

    .button_box,
    .header_logo {
        width: 300px;
        height:70px;
    }
    
    .button {
        display: grid;
        height: 25px;
        width: 70px;
        margin: auto;
        padding: 0px 4px;
        border-radius: 7px;
        justify-content: center;
        background-color: #131313;
    }
    
    .button_text {
        margin: 0px;
    }

    .header_dropdown {
        display: none;
    }
}

/* MOBILE */
@media only screen and (max-width: 1025px) {
    .header {
        grid-template-columns: auto auto;  
    }

    .button_box,
    .header_logo {
        width: 30vw;
    }

    .button_box {
        height: 7vw;
        justify-content: end;
    }

    .button {
        display: none;
    }
    
    .header_icon {
        display: none;
        /* width: 10vw; */
    }

    .header_dropdown {
        width: 7vw;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}