.container {
    margin: 0 auto;
    background-color: #484950;
    /* display: grid; */
    /* grid-template-columns: 100px minmax(100px, 3fr) 1fr; */
    /* grid-template-rows: repeat(3, 100px); */
    /* grid-gap: 1em 3em; */
}

.header {
    display: grid; 
}

.header_icon {
    width: 100px;
    place-items: center;
    margin: auto;
}

.header_logo,
.button_box {
    max-height: 100px;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

.header_logo {
    margin-left: 15px;
}

.button_box {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 300px;
    height:70px;
    justify-self: end;
}

.body {
    height: 100px;
}

/* DESKTOP */
@media only screen and (min-width: 1025px) {
    /* .container {
        grid-template-rows: 100px minmax(100px, 40vh) 10vh;
    } */

    .container {
        width: 80%;
        border: 5px solid var(--clr-dark);
        border-radius: 30px;
        margin: 5em auto 0 auto;
      }
    
    .header {
        grid-template-columns: auto 100px auto;  
        background-color: #29292a;
        border-radius: 25px;
    }

    .header_logo {
        width: 300px;
        height:70px;
    }

    .button_box {
        margin-right: 30px;
    }
    
    .button {
        display: grid;
        height: 25px;
        width: 70px;
        margin: auto;
        padding: 0px 4px;
        border-radius: 7px;
        justify-content: center;
        background-color: #131313;
    }
    
    .button_text {
        margin: 0px;
    }

    .header_dropdown {
        display: none;
    }
}

/* MOBILE */
@media only screen and (max-width: 1025px) {
    /* .container {
        grid-template-rows: 70px minmax(100px, 40vh) 10vh;
    } */

    .header {
        grid-template-columns: auto auto;  
    }
    
    /* .header_logo {
        width: 50%;
    } */
    
    .header_icon {
        display: none;
        /* width: 10vw; */
    }

    .header_logo {
        width: 200px;
        height:52px;
    }

    .header_dropdown {
        display: block;  
    }

    .header_dropdown_icon {
        width: 100%;
    }
    
    .button_box {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        justify-content: end;
    }

    .button {
        display: none;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}